.accordion {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    gap: 20px;
    flex-basis: 200px;
    flex-grow: 1;
    min-width: 200px;
    padding-bottom: 50px;
}

@media (width <= 800px) {
    .accordion {
        overflow-y: visible;
    }
}

.add-button {
    padding: 10px;
    border-radius: 5px;
    border: none;
    color: white;
    margin: 0 20px 20px 20px;
    background-color: rgb(60, 120, 230);
}

.add-button:hover {
    background-color: rgb(41, 106, 198);
}

.add-button:active {
    background-color: rgb(15, 81, 173);
}

.category {
    display: flex;
    flex-direction: column;
}

.category {
    background-color: #f6f7fa;
    border-radius: 5px;
}

.expander {
    display: grid;
    grid-template-rows: 0fr;
    overflow: hidden;
    transition: grid-template-rows 0.2s;
}

.section-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 3px;
    visibility: hidden;
    transition: all 0.2s;
    min-height: 0;
}

.expanded {
    grid-template-rows: 1fr;
}

.expanded .section-list {
    visibility: visible;
    padding-top: 20px;
}

.expandable-heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
}

.expandable-heading h2 {
    font-size: 20px;
    font-weight: normal;
}

.expandable-heading button {
    margin-right: 10px;
    background-color: white;
    border: none;
    font-size: 20px;
    color: lightgray;
}

.expandable-heading button:hover {
    color: gray;
}

.expandable-heading button:active {
    color: black;
}